.weather {
  width: 360px;
  height: 150px;
  background-color: #ffffff;
  border: 1px solid ghostwhite;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  transition: transform 0.2s ease-in-out;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &:hover {
    transform: scale(1.1);
  }

  &Logo {
    height: 100%;
    width: 30%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      background-color: transparent;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &Description {
    height: 100%;
    width: 70%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &City,
    &CurrentT,
    &MixMax {
      background-color: transparent;

      img {
        background-color: transparent;
      }
      span {
        background-color: transparent;
      }
    }

    &City {
      font-weight: bold;
    }
  }
}
